{% extends 'base.html.twig' %}

{% block title %}The snowfields !{% endblock %}

{% block body %}
    <div class="snow-container">
        <div class="snow-flake">
            <p class="snow-flake-name">1</p>
            <p class="snow-flake-number"></p>
            <p class="snow-flake-description"></p>
            <p class="snow-flake-date"></p>
        </div>
        <div class="snow-flake">
            <p class="snow-flake-name">2</p>
            <p class="snow-flake-number"></p>
            <p class="snow-flake-description"></p>
            <p class="snow-flake-date"></p>
        </div>
        <div class="snow-flake">
            <p class="snow-flake-name">3</p>
            <p class="snow-flake-number"></p>
            <p class="snow-flake-description"></p>
            <p class="snow-flake-date"></p>
        </div>
        <div class="snow-flake">
            <p class="snow-flake-name">4</p>
            <p class="snow-flake-number"></p>
            <p class="snow-flake-description"></p>
            <p class="snow-flake-date"></p>
        </div>
    </div>
{% endblock %}
