{% extends 'base.html.twig' %}

{% block title %}Exercice Basiques - Liste{% endblock %}

{% block body %}

    <h3> Voici l'emplacement de ma liste de snowflakes qui possède {{ snowflakes|length }} élements.</h3>

    <div class="snow-container">
    {% for snowflake in snowflakes %}
        <a href="{{ path('app_snowflake_show', {id:snowflake.id}) }}">
            <div class="snow-flake">
                    <p class="snow-flake-name">{{ snowflake.name }}</p>
                    <p class="snow-flake-number">Lucky Number : {{ snowflake.luckyNumber }}</p>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}
