@import './snowfield.scss';
@import './navbar.scss';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 48rem;
    width: 90%;
}