<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            Display Menu
        </span>
        <a href="#" class="logo">NoLogo</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">Final</a>
            </li>
            <li>
                <a href="#" class="nav-links">RNG</a>
            </li>
        </ul>
</nav>
