<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            Display Menu
        </span>
        <a href="{{path('app_index')}}" class="logo">NoLogo</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="{{path('app_index')}}" class="nav-links">Home</a>
            </li>
            <li>
                <a href="{{path('app_random')}}" class="nav-links">RNG</a>
            </li>
            
        </ul>
</nav>
